{% extends "index.html" %}

{% block content %}

<div class="container">
    <div class="row text-center">
        <h1 class="mt-5">Witaj w mojej bibliotece filmów</h1>
        <p class="lead">Znajdziesz tutaj tylko najlepsze tytuły!</p>
    </div>

    {% set total_cards = 12 %}
    {% set cards_per_row = 6 %}

    {% for row in range((total_cards // cards_per_row) + (1 if total_cards % cards_per_row > 0 else 0)) %}
    <div class="row mb-4">
        {% for i in range(cards_per_row) %}
            {% set card_index = row * cards_per_row + i %}
            {% if card_index < total_cards %}
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="http://placehold.it/300x500" alt="Placeholder Film">
                    <div class="card-body text-center">
                        <h4 class="card-title">Tytuł filmu {{ card_index + 1 }}</h4>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-primary">Pokaż więcej</a>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}

</div>

{% endblock %}